*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@media screen and (width<=700px){
    .container{
        margin: 30px;
        width: 100px;
        padding: 10px;
        background-color: aquamarine;
    }
    
}
@media screen and (width>700px){
    .container{
        margin: 30px;
        width: 200px;
        padding: 30px;
        background-color: aqua;
    }
    
}